*{
    background:linear-gradient(to bottom,rgb(225, 184, 209), rgb(185, 208, 237),rgb(236, 236, 191));
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display:flex;
    align-items: center;
    min-height: 100vh;
}

nav{
    width:100%;
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center;
    background:transparent;
    gap:30px;
    padding:15 60px;
    top:-90%;
    left:0;
    
    }
    nav a{
        position:relative;
        text-decoration: none;
        font-style: italic;
        font-size: 2.0em;
        z-index: 2;
        color:indigo;
        border-radius: 50px;
        box-sizing: border-box
    }
.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    gap: 60px;

}
.container  .card{
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display:flex;
    gap:10px;
    

}